ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
	font-family: "dotum";
	font-size: 12px;
	display: -webkit-box;
	margin-top: -83px;
}

ul.tabs li {
	float: left;
	text-align: center;
	cursor: pointer;
	width: 131px;
	height: 49px;
	line-height: 52px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

ul.tabs li.active {
	background: #FFFFFF;
}

.tab_container {
	clear: both;
	float: left;
	width: 1200px;
	height: 700px;
	background: #FFFFFF;
}

.tab_content {
	padding: 5px;
	font-size: 12px;
	display: none;
}

.tab_container .tab_content ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab_container .tab_content ul li {
	padding: 5px;
	list-style: none
}

#container {
	width: 249px;
	margin: 0 auto;
	margin-left: 18%;
	margin-top: 5%;
}

.tit_intro {
	display: block;
	font-size: 22px;
	line-height: 40px;
	text-align: left;
	padding-left: 20px;
	color: #1e1e1e;
	width: 700px;
	padding-left: 20px;
	padding-bottom: 50px;
}

.wrap_cont {
	overflow: visible;
	position: relative;
	width: 1160px;
	margin: 0 auto;
	clear: both;
}

.area_tit {
	float: left;
	width: 300px;
}

.area_cont {
	float: right;
	width: 860px;
}

.tit_corp {
	font-size: 18pt;
	padding-top: 20px;
	float: left;
}

.desc_info {
	font-size: 10pt;
	padding-top: 20px;
}

.history_info {
	overflow: hidden;
	color: #1e1e1e;
	margin-top: 84px;
}

.list_history li {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
}

.list_history {
	margin-top: 80px;
	border-top: 2px solid #4d4d4d;
}

.txt_year {
	font-size: 13pt;
	padding-bottom: 30px;
}

.inner_info {
	padding-top: 40px;
	font-size: 16pt;
}

#tab3>ul>li {
	border-bottom: 1px solid #4d4d4d;
	width: 500px;
	margin-left: 33%;
}

ul:first-child {
	border: none;
}