/* adminReport.jsp */
.reportWrap, .withdrawWrap {
	margin: 2% 0 0 10%;
}

table {
	width: 90%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

th {
	background-color: #CCC;
}

.report_class td, .withdraw_class td {
	background-color: #EEE;
}

.report_class {
	cursor: pointer;
}

.report_content {
	display: none;
}

.report_detail:not(:last-child) {
	border-bottom: 1px solid black;
}

.reportWrap thead th:nth-child(1) {
	width: 30%;
}

.reportWrap thead th:nth-child(2) {
	width: 30%;
}

.reportWrap thead th:nth-child(3) {
	width: 40%;
}


/* adminHeader.jsp */
.header-box{
	width:100%;
	height:20%;  
	/* background-color:gray;  */  
	display: flex;   
}

.left-button {
	
}

#logo{
	padding: 8% 0 0 10%;    
}

.right-button{
	width: 400px;
	margin:2.5% 0 0 4%;
	position: absolute;
	right: 0;
}

.reportArea, .withdrawArea, .manageArea {
	position: relative;
	float: left;
	margin: 0 4% 0 0;
}

.reportCountArea, .withdrawCountArea, .manageCountArea {
	display: flex;
    position: absolute;
    right: -5%;
    top: -10%;
}

.reportCount, .withdrawCount, .manageCount {
	background-color: #fa3e3e;
	font-size: 1.3em;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
}

#reportBtn, #withdrawBtn, #manageBtn {
	width: 80px;   
    height: 35px;    
   	/* margin:15% 0 0 0 ; */            
    color: #666;
    border: 1px solid #959595;
    border-radius: 13px;  
    line-height: 28px;
    font-size: 12px;
    font-family: 'Noto Sans Light',sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: white; 
}

hr{
	margin-top:1%;   
	border: 1px dotted gray;   
}