/* adminReport.jsp */
.reportWrap, .withdrawWrap, .boardWrap {
	margin: 2% 0 0 10%;
}

.tab {
	margin-top: 30px;
}

table {
	width: 90%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td { 
	border-bottom: 1px solid black;
	height: 26px;
	padding: 3px;
}

th {
	font-size: 12pt;
    height: 27px;
    padding-top: 8px;
    opacity: 0.7;
    background-color: black;
    color: white; 
}

.report_class td, .withdraw_class td {
	padding-top: 15px;
}

.report_class {
	cursor: pointer;
}

.report_content {
	display: none;
}

.report_detail:not (:last-child ) {
	border-bottom: 1px solid black;
}

.reportWrap thead th:nth-child(1) {
	width: 30%;
}

.reportWrap thead th:nth-child(2) {
	width: 30%;
}

.reportWrap thead th:nth-child(3) {
	width: 40%;
}

/* adminHeader.jsp */
.header-box {
	width: 1920px;
	height: 90px;
	display: flex;
}

.left-button {
	padding: 1% 0 0 1%;
}

#logo {
	padding: 8% 0 0 10%;
}

.right-button {
	width: 400px;
	margin: 47px 0 0 1400px;
}

.reportArea, .withdrawArea, .boardArea {
	position: relative;
	float: left;
	margin: 0 4% 0 0;
}

.reportCountArea, .withdrawCountArea {
	display: flex;
	position: absolute;
	right: -5%;
	top: -10%;
}

.reportCount, .withdrawCount {
	background-color: #fa3e3e;
	font-size: 1.3em;
	border-radius: 2px;
	color: #fff;
	padding: 1px 3px;
}

#reportBtn, #withdrawBtn, #boardBtn {
	width: 80px;
	height: 35px;
	/* margin:15% 0 0 0 ; */
	color: #666;
	border: 1px solid #959595;
	border-radius: 13px;
	line-height: 28px;
	font-size: 12px;
	font-family: 'Noto Sans Light', sans-serif;
	text-align: center;
	text-decoration: none;
	background-color: white;
}

hr {
	margin-top: 1%;
	border: 1px dotted gray;
}


#unProRepBtn, #accRepBtn, #rejRepBtn, #selfDelBtn, #boardLikeBtn,
	#boardShareBtn, #boardReplyBtn, #boardDateBtn, #unProWitBtn, #accWitBtn,
	#rejWitBtn {
	width: 80px;
	height: 35px;
	/* margin:15% 0 0 0 ; */
	color: #666;
	border: 1px solid #959595;
	border-radius: 13px;
	line-height: 28px;
	font-size: 12px;
	font-family: 'Noto Sans Light', sans-serif;
	text-align: center;
	text-decoration: none;
	background-color: white;
	
}

#unProRepBtn:focus, #accRepBtn:focus, #rejRepBtn:focus, #selfDelBtn:focus, #boardLikeBtn:focus,
	#boardShareBtn:focus, #boardReplyBtn:focus, #boardDateBtn:focus, #unProWitBtn:focus, #accWitBtn:focus,
	#rejWitBtn:focus {
	background-color: black;
	color: white; 
	outline: none;
}

#viewBtn, #enrollBtn,#updateBtn, #accBtn, #rejBtn,#linkBtn{
    border-radius: 8px;
    background-color: white;
    font-weight: bold;  
    color: gray;
    margin-top: 5px;  
}
#viewBtn:hover, #enrollBtn:hover,#viewBtn:focus, #enrollBtn:focus,#updateBtn:hover, #accBtn:hover, #rejBtn:hover,#linkBtn:hover{
	background-color: black;
	color: white;  
	outline: none; 
	 
}

.linkArea{
	padding:10px;
}

.locationArea{
	padding:10px;
}

.btnArea{
	padding-bottom: 12px;  
}