/* 팔로워 수 */
#follow_list, #follower_list {
	float: right;
	margin-right: 2em;
	margin-bottom: 1em;
}

#follow_list_label, #follower_list_label {
	font-size: 24px;
	font-style: italic;
}
/* 팔로워 수 */

/* 팔로워들 보여주기 */
.followWrap, .followerWrap {
	margin: 8em auto;
	width: 1270px;
	grid-template-columns: repeat(4, 1fr); /* 그리드컨테이너 속 자식 요소들의 폭을 맞춤 */
	grid-auto-rows: minmax(300px, auto);
	padding: 2em;
}

.followWrap .wrap_content, .followerWrap .wrap_content {
	border: 2px solid gray;
	width: 700px;
	height: 200px;
	margin: 1em auto;
}

/* 프로필 사진 */
.wrap_content .content_photo img {
	border: 1px solid gray;
	margin-top: 25px; 
	margin-right: 60%;
	width: 140px;
	height: 140px;
	border-radius: 70px; /* 이미지 반크기만큼 반경을 잡기*/
	cursor: pointer;
}

/* 프로필 닉네임 */
.wrap_content .content_nickname {
	text-align: left;
    margin-top: -80px;
    margin-left: 12em;
    font-size: 16pt;
}

/* 프로필 자기소개*/
.wrap_content .content_introduce {
	text-align: center;
    margin-top: -18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 52%;  
	/* margin-right:10px; */
}

.followBtn, .followerBtn, .followCancelBtn, .followerCancelBtn {
	margin-top: 45px;    
    margin-left: 552px;  
	border: 1px solid gray;  
	background-color: white;
	color: gray;
	border-radius: 20px;
	padding: 3px 7px 3px 7px;
	outline: none;
}

.followCancelBtn:hover, .followBtn:hover {
	background-color: gray;
	font-size: 11pt;
	color: white;
}

#message-icon{
	width:25px;
	height:25px;    
}