body {
	/* width: 1500px; */
	/* background-color: purple; */
	height: 100%;
}

.wrap {
	margin-top: 50px;
}

.header {
	background-color: blue;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#main_inner:before, #main_inner:after {
	box-sizing: border-box;
	claer: both;
}

#content {
	position: relative;
	overflow: hidden;
}

#content_width {
	position: relative;
	margin-left: 7%;
	margin-right: 7%;
}

/*프로필 1번째 창*/
#content_h1 {
	position: relative;
	height: 260px; 
	/* border: 1px solid blue; */
	margin-left: 20%; 
}

#my_profil {
	font-size: 17px;
	font-style: italic;
	color: silver;
	margin-right: 37%;  
	
}

#my_profil_pic1 {
	display: inline-block;	/* a요소 이미지 크기에 맞추기 */
	float:left;  
	margin-top:2%;  
	margin-left:30%;          
	width: 0;
	height: 0;
	
}

.my_image {
	border: 1px solid blue;
	margin-left:1%;    
	width: 200px;
	height: 200px;         
	border-radius: 100px; /* 이미지 반크기만큼 반경을 잡기*/
}

/* 수정,팔로우,팔로잉 */
#my_frm1{
	float:right;  
	margin-right: 35%;   
	margin-top: 3%;     
}

#my_btn1 {
	float: right;
	margin-right: 10px;
	padding: 10px;
	background-color: teal;
}

#my_btn2 {
	float: right;
	padding: 10px;
	margin-right: 10px;
	border: 0;
	outline: none;
	background-color: white;
	font-size:20pt; 
}
#followcount{
	float: right;
	/* padding: 10px; */ 
	margin-top:27%;      
    margin-right: -58px;
	border: 0;
	outline: none;
	background-color: white;
	font-size:20pt;
}

#followingcount{
	float: right;
	margin-top:27%;        
    margin-right: -183px;
	border: 0;
	outline: none;
	background-color: white;
	font-size:20pt;
}

#user_introduce{
	font-size: 14pt;
	position: relative;
    top: 190px;  
    left: 511px;
}

#my_btn3 {
	float: right;
	padding: 10px;
	margin-right: 25px; 
	border: 0;
	outline: none;
	background-color: white;
	font-size:20pt; 
}


#content_h2{ 
	display: inline-block; 
	margin: 1% 7% 0 0;  
	text-align: left;         
} 

table, tr, td{
	font-size: 15pt; 
	padding:30px 10px 10px 10px;    
	border-bottom: 1px dotted gray;   
	width: 1162px;        
}

input{
	font-size: 12pt;
	padding: 5px; 
}

#chargeBtn{
	font-size: 10pt;
	margin-left: 95px;   
}

#tdone{
	text-align: center;  
}

#editBtn{
	margin:3% 0 0 40%; 
}



/*//////////////////////////////////////////////////  */


#container{
	display: inline-block; 
}


td{
	text-align: left; 
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:390px;  
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: auto; 
    background: #FFFFFF;
}
.tab_content {
    padding: 5px;
    font-size: 12px;
    display: none;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}
;
 #container {
    width: auto; 
    margin: 0 auto;
}

#passeditBtn{
	margin: 2% 0 2% 0;  
}
