body {
	/* width: 1500px; */
	/* background-color: purple; */
	height: 100%;
}

.timelineWrap {
	margin-top: 50px;
}

.header {
	background-color: blue;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#main_inner:before, #main_inner:after {
	box-sizing: border-box;
	claer: both;
}

#content {
	position: relative;
	overflow: hidden;
}

#content_width {
	position: relative;
	margin-left: 133px; /* 7% 수정 */
	margin-right: 133px; /* 7% 수정 */
}

/*프로필 1번째 창*/
#content_h1 {
	position: relative;
	height: 250px;
	/* border: 1px solid blue; */
}

#my_profile {
    font-size: 25px;
    color: black;
    padding-top: 50px;
    display: flex;
    margin-left: 663px;
    padding-left: 114px;
}


#my_profile_pic1 {
    display: inline-block;	/* a요소 이미지에 맞추기 */
    float: left;
    margin-top: 25px;
    margin-left: 445px;     
    width: 0;
    height: 0;
}

.my_image {
	border: 3px solid #CCC;
	margin-left: 1%;
	width: 200px;
	height: 200px;
	border-radius: 100px; /* 이미지 반크기만큼 반경을 잡기*/
}

/* 수정,팔로우,팔로잉 */
#user_id-box{
	padding-top: 50px;  
    padding-left: 192px;
} 

#button-box {
    display: flex;
    margin: 30px 0 0 720px;       
}


#followListBtn, #followerListBtn {
   -webkit-transition: all .28s ease-in-out;
   transition: all .28s ease-in-out;
}

#followListBtn:hover, #followerListBtn:hover {
   color: gray;
   letter-spacing: 3px;
}

#postCount, #followListBtn, #followerListBtn {
   outline: none;
   border: 0;
   background-color: white;
   font-size: 12pt;
   padding-left: 40px;
   font-family: "돋움";
   font-weight: bold;
   color: #51453F;
}

#user_introduce {
    padding: 32px 0 0 114px;
}  
 
#profile-btn, #message-btn  {
   font-size: 11pt;
   padding: 6px;
   border-radius: 5px;
   font-weight: bold;
   background-color: white;
   color: #28211F;
   border: 1px solid black;
   outline-color: black;
}

#profile-btn:hover {
   border: 1px dotted black;
}

#back {
   float: right;
   padding: 10px;
   margin-right: 10px;
}

#select_all {
   font-size: 10px;
}

a {
   color: #365899;
   cursor: pointer;
   text-decoration: none;
}

.sp_KQh5j0Ivz87.sx_8f2293 {
	width: 8px;
	height: 5px;
	background-position: -13px -483px;
}

/*프로필 3번째 창*/
#content_h3 {  
 	margin: 3% 0 0 485px;
	float: left;
	height: 100%;
}

/* profil.css */
.personinfo_1 {
	margin: 60px 20px 20px 100px;
}

.alert_1 {
	float: left;
	width: 413px;
	margin-top: 20px;
	margin-left: 20px;
	border: 2px solid black;
}

.personinfo_2 {
	width: 500px;
	height: 50px;
	border: 2px solid black;
	padding-top: 5px;
}

.personinfo_3 {
	line-height: 40px;
	padding-left: 10px;
	text-align: left;
	width: 100px;
	height: 40px;
	border: 2px solid aqua;
	margin-left: 20px;
	float: left;
}

.personinfo_4 {
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 10px;
	width: 330px;
	height: 40px;
	border: 2px solid aqua;
	float: left;
}

.personinfo_5 {
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}

.list_3 {
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	font-size: 12px;
}

.list_4 {
	margin-left: 100px;
	font-size: 12px;
}

.select_info1 { /* 알림창  */
	font-size: 10px;
}

.board_card {
	padding: 20px 0 5px 0;
	/* border: 1px dotted gray ; */
}

/* 추가 */

/* 버튼 위치 */
.img_1 {
	border: none;
	vertical-align: text-top;
	margin-right: 5px;
}

#list_view {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 255px;
	width: 200px;
	float: left;
	height: 30px;
	background-color: white;
	outline-color: white;
	border: none;
	border-top: 2px aqua solid;
	text-align: center;
}

#grid_view {
	margin-right: 157px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 200px;
	float: left;
	height: 30px;
	background-color: white;
	outline-color: white;
	border: none;
	border-top: 2px aqua solid;
	text-align: center;
}

/*  그리드 형식 */
.board_grid_wrap { 
	width: 940px;
	height: 100%;
	grid-template-columns: repeat(3, 1fr);
	float: left;
	margin: 0 0 0 480px;
	float: left;
}

.board_grid_content {
	z-index: 2;
}

.board_grid {		/* 그리드 표현 */
	cursor: pointer;
	width: 300px;
	height: 300px;
	margin: 20px 10px 10px 0px;
	/* 배경 꽉차게 */
	background-repeat: no-repeat;
	background-position: center
}

.board_grid:after {
	position: absolute;
	cursor: pointer;
	width: 300px;
	height: 300px;
	margin: 20px 10px 10px 0px;
	/* 배경 꽉차게 */
	background-position: center;
	background-size: cover;
}

.board_subject {
	text-align: center;
	color: #FFF;
	margin-top: 50%;
	overflow: hidden;
	font-size: large;
	/* .. 처리 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	z-index: 2;
}

/* .board_background {
	position: absolute;
	background-color: white;
	opacity: 0;
	width: 300px;
	height: 300px;
} */

/* .board_content {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	color: #00ff00;
	width: 100px;
	height: 34px;
	resize: none;
	background: none;
	border: 0px;
	font-size: 15px;
}
 
 
.board_grid>div:nth-of-type(3) {
	z-index: 2;
}
*/

.board_grid_num {
	display: none;
}