<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<select id="noticelist" parameterType="map" resultType="dto.NoticeDTO">
		select b.*
		from(select rownum rm,a.*
			 from(select n.user_code, n.notice_actor, n.board_num, n.reply_num, n.notice_type, n.notice_amount, 
			 	  to_char(n.notice_date, 'YYYY-MM-DD HH24:MI:SS') as notice_date, n.notice_state, a.user_photo, a.user_nickname
				  from moons_notice n, moons_user a
				  where n.user_code=#{user_code} and n.notice_actor=a.user_code
				  order by n.notice_date desc)a)b
		<![CDATA[where rm>#{start} and rm<=#{start}+10]]>
	</select>
	
	<update id="readNotice" parameterType="int">
		update moons_notice
		set notice_state=2
		where user_code=#{user_code} 
		<![CDATA[and notice_date<=sysdate]]>
	</update>
	
	<select id="cnt" parameterType="int" resultType="int">
		select count(*)
		from moons_notice
		where user_code=#{user_code} and notice_state=1
	</select>
</mapper>